@font-face {
  font-family: 'Helvetica';
  src: url('helvetica-255-webfont/Helvetica.woff') format('woff');
  src: url('helvetica-255-webfont/Helvetica-Bold.woff') format('woff');
}

/* Global Scrollbar Styling */
html, body {
  margin: 0;
  padding: 0;
  overflow: auto; /* Enables scrolling globally */
}

body::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #FAF9F6 !important;
  border-radius: 0 !important;
}
body::-webkit-scrollbar-track {
  background-color: #333333 !important;
}

.slide-169-1-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
    width: 100%;
    height: 100%;
}
.vector-icon {
    position: relative;

    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: normal;
    background-color: #333;
}
.slide-169-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1000px;
    overflow: hidden;
}


/* topbar */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    scroll-snap-type: y mandatory; /* Enable vertical snap */
    scroll-behavior: smooth; /* Smooth scrolling for soft snap */
    height: 100vh; /* Viewport height */

    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
.content {
  height: 100vh; /* Makes the page tall to enable scrolling */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  scroll-snap-align: start;
}

.content:nth-child(odd) {
  background-color: #333333; /* Different color for even sections */
  color:#FAF9F6;
}

.content:nth-child(even) {
  background-color: #FAF9F6; /* Different color for even sections */
  color:#333333;
}

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    background-color: #333;
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
    justify-content: space-between; /* Separates logo and links */
    align-items: center; /* Vertically centers items */
    z-index: 1000; /* Ensures navbar is always on top */
  }

  .navbar.visible {
    display: block; /* Show navbar */
  }

  .navbar img{
    height: 6vh;
    padding: 1rem;
  }

  .navbar a {
    background-color:#FAF9F6;
    color:#333333;
    text-decoration: none;
    padding: 0.75rem;
    margin-right: 1rem;
    font-size: 2rem;
    overflow: hidden;
  }
  
  .navbar a:hover {
    background-color: #2d2d2d;
    color:#FAF9F6

  }
  
  /*2nd test*/


/* Landing Page Styling */

  
#landing {
  height: 100vh; /* Full viewport height */
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows:10fr 1fr; 
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  background: #333333;
  color: #FAF9F6;
  text-align: left;
  scroll-snap-align: start;
}



#landing #number-icon {
  width: 70%; /* Adjust the logo size */
  height: auto; /* Maintains aspect ratio */
  margin: 2rem; /* Adds spacing below the logo */
}

#landing #vector-icon{
  width: 100%; /* Adjust the logo size */
  height: auto; /* Maintains aspect ratio */
  margin: 0rem; /* Adds spacing below the logo */
}

#landing h1 {
  font-size: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between; /* Separates logo and links */
  align-items: center;
}

#landing p {
  font-size: 1.5rem;
  margin-left: 8rem;
  margin-right: 8rem;
}


#landing-buttons{

  display: flexbox;
  text-decoration: none;
  outline: none;

}

#landing-buttons button {
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
  border: 0;
  background-color:#FAF9F6;
  color:#333333;
  text-decoration: none;
  padding: 1rem;
  margin: 0.75rem;
  font-size: 5rem;
  overflow: visible;
}

#landing-buttons button:hover{
  transition:linear 100ms;
  background-color: #333333;
  color:#FAF9F6;
}

.scroll-down {
  margin-top: 2rem;
  font-size: 6rem;
  color: #FAF9F6;
  text-decoration: none;
  animation: bounce 1.5s infinite;
  grid-column: span 3;
  align-self: center;
  justify-self: center;
}


.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 3rem;
  padding:8rem;
  align-items: center;
  height: 70%;
}

#content-header{
  grid-column: span 3;
  text-align: center;
  font-size: 7rem;
}

.timeline{
  font-size: 3rem;
}

.timeline x{
  color:#c1babd
}

.timeline v{
  color:#333333;
  background-color: #FAF9F6;
}

#content3-content{
  grid-column: span 2;
}

#tema{
  font-size: 5rem;
  background-color: #333333;
  color: #FAF9F6;
  padding:1rem;
}

@media (max-width: 1500px){
  #landing-buttons button {
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: 0;
    background-color:#FAF9F6;
    color:#333333;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 3rem;
    overflow: visible;
  }
}

@media (max-width: 1000px) {
  #landing{
    grid-template-columns: 3fr  1fr; 
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
  }

  #landing #number-icon {
    width: 70%; /* Adjust the logo size */
    height: auto; /* Maintains aspect ratio */
    margin: 2rem; /* Adds spacing below the logo */
  }
  
  #landing #vector-icon{
    width: 100%; /* Adjust the logo size */
    height: auto; /* Maintains aspect ratio */
    margin: 0rem; /* Adds spacing below the logo */
  }
  
  #landing-buttons button {
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: 0;
    background-color:#FAF9F6;
    color:#333333;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 3rem;
    overflow: visible;
  }

  .scroll-down {
    margin-top: 2rem;
    font-size: 5rem;
    color: #FAF9F6;
    text-decoration: none;
    animation: bounce 1.5s infinite;
    grid-column: span 1;
  }
  
  body::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #FAF9F6 !important;
    border-radius: 0 !important;
  }
  body::-webkit-scrollbar-track {
    background-color: #333333 !important;
  }
  .navbar a {
    padding: 0.7rem;
    margin-right: 1rem;
    font-size: 1.8rem;
  }

}
@media (max-width: 450px){
  #landing-buttons button {
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: 0;
    background-color:#FAF9F6;
    color:#333333;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 2.3rem;
    overflow: visible;
  }

  .navbar a {
    padding: 0.7rem;
    margin-right: 1rem;
    font-size: 1.8rem;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Main Content Styling */
.content {
  padding: 20px;
  background: #f9f9f9;
}

.content h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}


