@font-face {
  font-family: 'Gruppo';
  src: url('Gruppo/Gruppo-Regular.ttf') format('ttf');
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Gruppo';
  font-weight: 100;
  font-kerning: normal;
  background-color: antiquewhite;
  scroll-behavior: smooth;
  
}

p{
  margin: 0;
  padding: 0;
}



/* --------- UNIVERSAL COMPONENTS ------------ */

button {
  cursor: pointer;
  font-family: 'Gruppo';
  font-weight: bold;
  border-style: solid;
  border-color: white;
  color: white;
  text-decoration: none;
  background: none;
  padding: 0px;
  margin: 5px;
  margin-right: 30px;
  font-size: 60px;
  overflow: visible;
  font-weight: 100;
  transition: linear;
  transition-duration: 400ms;
}

a {  text-decoration: none; color: inherit;}

button:hover{
  transition: linear;
  transition-duration: 150ms;
  background-color: white;
  opacity: 80%;
  color: black;
}



/* ------------------ LANDING ------------------- */

.landing {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url('images/image-2');
  height: 100vh;
}

.bg {
  width: 100%;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  opacity: 0%;
  transition: all 1.5s ease;
}

.bg.active {
  opacity: 100%;
}

.landing-header {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 6vmin;
  color: white;
}

.landing-year {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 6vmin;
  color: white;
}

.rolling-credits{
  position: absolute;
  bottom: 50px;
  left: 30px;
  z-index: 1;
  color: white;
}

.pemenang {
  font-size: 60px;
  margin-block: 40px;
}

.credits{
  opacity: 30%;
  font-size: 90px;
  margin-block: -20px;
  padding: 0;
  font-weight: 100;
}

.credits.active{
  opacity: 100%;
}

.credits:hover{
  opacity: 100%;
  transition: all 0.3s ease;
}

.landing-buttons{
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: 1;
  color: white;
}

@media(max-width: 1100px){
  .credits{
    opacity: 30%;
    font-size: 7vw;
    margin-block: -1vw;
    padding: 0;
    font-weight: 100;
  }
}

@media(max-width: 800px){

  .landing-buttons{
    position: absolute;
    top: 20vh;
    left: 30px;
    z-index: 1;
    color: white;
    
  }

  .landing-buttons button {
    margin-block: 1vh;
  }
  .credits{
    opacity: 30%;
    font-size: 10vw;
    margin-block: 0px;
    padding: 0;
    font-weight: 100;
  }
}



/* ------------- SECTION 1 ------------- */

.section-1 {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  
}

.top-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 5.7vw;
  flex-wrap: wrap;
  width: 80vw;

  margin: 0;
  padding: 0;
  letter-spacing: -3px;
  line-height: 0.7;
}

.se-indonesia{
  display: flex;
  margin-right: 40px;

}

.terbuka{
  display: flex;
  margin-left: 40px;
}

.mid-section-1{
  height: auto;
}

.map {
  width: 80vw;
  margin-top: -1vw;
  font-size: 4vw;
  margin-bottom: 3vh;
}

.bottom-section-1{
  display: flex;
  font-size: 2.2vw;
  width: 80vw;
  margin-bottom: 2vh;
}

.buttons-section-1 {
  display: flex;
  justify-content: start;
  width: 80vw;
  margin: 0;
}

.buttons-section-1 button{
  color: black;
  border-color: black;
  font-size: 3vw;
  margin: 0;
  margin-right: 20px;
}

.buttons-section-1 button:hover{
  color: white;
  background-color: black;
}

@media (max-width: 800px){
  .top-section-1{
    width: 85vw;
    font-size: 10.5vw;
    margin: 0;
    padding: 0;
  }

  .terbuka {
    margin: 0;
    padding-block: 3vh;
  }

  .map {
    transform: translateX(19%);
    width: 140vw;
  }
}

/* --------------- SECTION 2 ----------------*/
.section-2{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header-section{
  width: 100vw;
  height: auto;
  padding-bottom: 20px;
}

.header-text{
  font-size: 10vw;
  padding-left: 4vw;
}

.graphic-section-2{
  display: flex;
  justify-content: right;
  width: 100vw;
  margin-bottom: 70px;
}

.graphic-section-2 img{
  width: 95vw;
}

.text-section-2{
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 2.4vw;
}

.p-1-section-2{
  width: 60vw;
  text-align: left;
  line-height: 1;
  margin-left: 5vw;
  margin-bottom: 20px;
}


.p-2-section-2{
  width: 60vw;
  display: flex;
  justify-content: right;
  line-height: 1;
  margin-top: 20px;
  align-self: flex-end;
}

.p-2-section-2 p {
  margin-right: 0;
}


/* ------ SECTION 3 -------- */

.section-3{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.section-3 .header-section{
  padding-bottom: 0;
}

.graphic-section-3 {
  width: 100vw;
  margin-bottom: 100px;
}

.graphic-section-3 img {
  width: 100vw;
}


.text-section-3{
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 2.4vw;
}

.p-1-section-3{
  width: 60vw;
  text-align: left;
  line-height: 1;
  margin-left: 5vw;
  margin-bottom: 20px;
}


.p-2-section-3{
  width: 60vw;
  display: flex;
  justify-content: right;
  line-height: 1;
  margin-top: 20px;
  align-self: flex-end;
}

.p-2-section-3 p {
  margin-right: 0;
}

/* ---------- SECTION 4 ------------- */ 

.section-4 {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.content-section-4{
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-section-4 {
  font-size: 2.4vw;
  width: 44vw;
  margin-left: 4vw;
  margin-right: 2vw;
  margin-top: 20px;
}

.graphic-section-4 img{
  width: 50vw;
}

/* ---------- SECTION 5 ------------- */

.section-5 {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.top-section-5 {
  width: 85vw;
}

.kami {
  font-size: 6vw;
}

.kami-text{
  margin-bottom: 0;
  padding-bottom: 0;
}

.cmc-text{
  margin-top: -10px;
  padding-top: 0;
  color: red;
}

.content-section-5{
  margin: 2vh;
  margin-bottom: 4vh;
  font-size: 2.4vw;
}

.bottom-section-5{
  display: flex;
  flex-direction: row;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
}

.graphic-section-5 img{
  width: 30vw;
}

.staff{
  font-size: 3vw;
}